{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block content %}

    {% for article in articles %}
        <a href="{% url 'article' article.id %}">{{ article.text }}</a> created at {{ article.created_at }}
        <br>
        {% for comment in article.comment_set.all %}
            <div class="red">
                Comment: {{ comment.text }} from {{ comment.user.username }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}